.shop__container {
  padding: 20px 30px;
}

.select__container {
  display: flex;
  align-items: center;
  padding: 8px 30px;
  margin-bottom: 20px;
}

.select__text {
  font-size: 22px;
  font-weight: 500;
  line-height: 18px;
  color: rgb(49, 39, 39);
  margin-right: 20px;
}

.select {
  width: 200px;
}

.list__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 18px;
  gap: 18px;
}

.nothing__container {
  margin: 0 auto;
}
